:root {
  --admin-theme-font-color: 0deg 0% 15%;
  --admin-theme-color: #007cba;
  --admin-theme-edge-tb: 4rem;
  --admin-theme-video-sb: 35px;
  --admin-theme-radius: 16px;
  --admin-theme-bg: hsl(var(--admin-theme-font-color) / 4%);
  --admin-theme-card-mini: 5.5rem;
  --admin-theme-font-size-small: .75rem;
}

.contact-thyuu-embed-container {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000);
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(229 231 235 / var(--tw-ring-opacity));
  border-radius: 4px;
  overflow: hidden;
  margin-top: .75em
}

.contact-thyuu-embed-container--selected {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000);
  --tw-ring-color: inherit
}


.thyuu-embed-block {
  display: flex;
  flex-flow: column;
  font-size: 12px;
  gap: 1em;
  padding: 1.5em;
  background-color: #fff;
  color: #1e1e1e;
  outline: thin solid var(--admin-theme-bg);
  line-height: 1;
}

.thyuu-embed-block details {
  margin-bottom: 0px !important;
}


.thyuu-embed-refer {
  font-size: 1em;
  padding: 0;
  background: 0;
  border-radius: 0;
}
.thyuu-embed-refer summary {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
  padding: 0 0 1em;
  border-bottom: thin solid var(--admin-theme-bg);
}
.thyuu-embed-refer summary::-webkit-details-marker {
  display:none;
}
.thyuu-embed-refer summary :is(i, h5) {
  display: inline-flex !important;
  align-items: center;
  font-size: 13px;
  gap: .5em;
  margin: 0;
}
.thyuu-embed-refer summary :is(i) {
  cursor: pointer;
  pointer-events: auto;
  font-size: 1.1em;
  line-height: 1;
}

.thyuu-embed-block details h6 {
  margin: 1em 0;
  font-size: 1em;
  color: #1E1E1E;
}

.thyuu-embed-block details p {
  line-height: 1.675;
}

.thyuu-embed-block details ul {
  padding: .5em 2em;
  color: hsl(0deg 0% 0% / 50%);
  background: var(--admin-theme-bg);
  border-radius: 1em;
  cursor: auto;
}

.thyuu-embed-block details ul li {
  line-height: 1.675;
  font-size: 12px;
}

.thyuu-embed-block details ul i {
  color: var(--admin-theme-color, #3858e9);
  font-style: normal;
}

.thyuu-embed-block :is(input[type="url"], select) {
  color: #1e1e1e;
  border: 0;
  border-radius: 1em;
  background-color: var(--admin-theme-bg);
  width: auto;
  flex: 0;
  font-size: inherit;
  min-height: 40px;
}
.thyuu-embed-block input[type="url"] {
  flex: auto;
  min-width: 30ch;
}

.thyuu-embed-block input[type=url] {
  padding: 0 8px;
  line-height: 2;
}

thyuu-embed {
  display: block;
  position: relative;
  background: var(--admin-theme-bg);
  border-radius: var(--admin-theme-radius);
  outline: thin solid var(--admin-theme-bg);
}

thyuu-embed iframe {
  width: 100%;
  transition: .5s .5s;
}

.thyuu-noone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: balance;
  color: hsl(var(--admin-theme-font-color) / .5);
  font-size: var(--admin-theme-font-size-small);
  line-height: 2;
  min-height: var(--admin-theme-card-mini);
  gap: 1em 0;
  padding: 1em;
  background: var(--admin-theme-bg);
  border-radius: var(--admin-theme-radius);
  width: 100%;
}

.thyuu-music {
  width: 100%;
  height: 65px;
  overflow: hidden;
}
.thyuu-music:is([data-type="nn_lists"], [data-type="nn_album"]) {
  height: 390px;
}

.thyuu-video {
  position: relative;
  display: grid;
  place-items: center;
  place-content: center;
  width: 100%;
  max-height: calc(70vh - var(--admin-theme-edge-tb));
  padding-top: calc(var(--video-as, 56.25%) + var(--admin-theme-video-sb, 0%));
  background: #000;
  overflow: hidden;
}

.thyuu-video iframe {
  position: absolute;
  inset: 0;
  height: 100%;
  z-index: 2;
}
.thyuu-video[data-type="dy"] {
  --admin-theme-video-sb: 35px;
}

@media (max-width: 641px) {
  .thyuu-video.as-tb:not([data-type="dy"]) {
    aspect-ratio: 9 / 16;
  }
  .thyuu-video[data-type="dy"] {
    width: min(324px, 100%);
    max-height: none;
    margin-inline: auto;
    aspect-ratio: .4821;
    overflow: hidden;
  }
}

.thyuu-embed-panel {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.thyuu-embed-block .thyuu-upbtn {
  display: flex;
  flex-direction: column;
  font: inherit;
  flex: 1;
  aspect-ratio: 1;
  height: auto;
  min-height: 6em;
  min-width: 6em;
  outline: thin solid var(--admin-theme-bg);
  color: hsl(var(--admin-theme-font-color) / .7);
  background: var(--admin-theme-bg);
  border-radius: 1em;
  overflow: hidden;
  padding: 0;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.thyuu-embed-block .thyuu-upbtn :is(i){
  padding: 1em;
  background: var(--admin-theme-bg);
  border-radius: 50%;
  z-index: 2;
}

.thyuu-embed-block .thyuu-upbtn.has-obj  :is(i) {
  position: absolute;
  color: white;
  outline: thin solid rgb(255 255 255 / 10%);
  backdrop-filter: blur(1em) saturate(2);
}

.thyuu-embed-block .media-obj {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #000;
  transition: .3s;
}
.thyuu-embed-block .thyuu-upbtn:hover .media-obj {
  filter: brightness(.5);
  scale: 1.05;
}
